{% extends "base.html" %}

{% block content %}
<div class="container text-center my-5">
    <p><strong>
        I am an IT specialist with a strong educational background and diverse skills in 
        Telecommunications, Procurement/Logistics, and Computer Programming.
    </strong></p>
</div>

<div class="container text-center mb-5">
    <p>
        I possess numerous skill sets that include risk management, cost control, 
        supply chain/logistics, and efficient record-keeping and documentation.
        <br><br>
        I have proficiency in C, C++, Python, Shell/Bash scripting. Combined with 
        my expertise in Microsoft Office Suite, I can handle most enterprise applications 
        based on my software development skills. This enables me to manage data, 
        report effectively, and solve complex problems.
        <br><br>
        I excel in critical thinking, prioritization, and time management—consistently 
        meeting deadlines and delivering high-quality results.
    </p>
</div>
{% endblock %}


